<div class="about">
<div class="flex-boxes">
<a href="javascript:void(0)" class="flex-box flex-box-big">
    <i class="icon fa fa-question"/>
    <h1 class="flex-title">Help</h1>
    <p>The main part of the website is the Tracks section, where you can filter the music by tags (ex: dub, rock), poster, date or origin. From this section, clicking icons in the top-right changes the design. The cassette <i class="fa fa-simplybuilt"/> view plays random tracks matching the filters.</p>
    <p>Parse the users list and look for someone with the same taste as yours.
    </p>
    <p>The channels are irc chat rooms where we rant on present state of house music.
    </p>
</a> 
<a href="https://git.iiens.net/morignot2011/playbot/tree/master" class="flex-box">
    <i class="icon fa fa-git"/>
    <h1 class="flex-title">Playbot</h1>
    <p>Playbot is a facebook and irc tool designed to share music or videos. Users can give away youtube or soundcloud links : Playbot saves and manages them.</p>
  </a>
  <a href="https://soundcloud.com/nightiies" class="flex-box">
    <i class="icon fa fa-soundcloud"/>
    <h1 class="flex-title">Nightiies</h1>
    <p>Nightiies regroups electro lovers (from dub to schranz) and DJs. Almost all the tracks shared here have been discovered through endless quest for quality and hipsterism.</p>
  </a>

  <a href="https://github.com/Sybil/PlayBotAPI" class="flex-box">
    <i class="icon fa fa-github"/>
    <h1 class="flex-title">Playbot API</h1>
    <p>This website is able to retrieve Playbot information through a Rails API communicating with the database.</p>
  </a>
  <a href="https://github.com/Sybil/PlayBotWeb" class="flex-box">
    <i class="icon fa fa-github-alt"/>
    <h1 class="flex-title">The website</h1>
    <p>Beautiful isn't it ? Thanks Ember.js powa.</p>
  </a>

</div>
</div>
