<div class="channels">
  {{#each channel in controller}}
    {{#link-to 'tracks' (query-params channel=channel.model.name) tagName='div' style=channel.style class=channel.category title=channel.info}}
      {{channel.model.name}}
    {{/link-to}} 
  {{/each}}
</div>
