<div class="presentation">
    <div class="abstract">
        {{#link-to 'tracks' }}NIGHTIIES{{/link-to}}
        <p>Welcome to PlayBot unofficial website. Listen to handpicked tracks.</p>
    </div>
</div>
