<div class="presentation">
    <div class="abstract">
        {{#link-to 'tracks' }}NIGHTIIES{{/link-to}}
        <p>Listen to electronic music, enjoy thousands of hipster's tracks.</p>
    </div>
</div>
