<div class="player">
  <ul>
    <li class='track_name'>
      <span>&nbsp; [{{model.id}}] {{model.name}}</span>
    </li>
    <li class='track_player'>
      <iframe id="iframe" width="1px" height="20px" scrolling="no" frameborder="no" src=""></iframe>
    </li>
  </ul>
</div>
